//if something is unclear all styles are commented in cute-paws.scss
body {
  color: rgb(249, 41, 41);
  background-color: pink; //sets background color
}
header {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 300px;
  height: 350px;
  border-radius: 100px;
}
.searchForm {
  display: flex;
  justify-content: space-between;
  width: 100%; //sets width to 100% of its container
}

.searchForm input[type="text"] {
  //makes my searchbar the full lenght of its container then minus the width of the button
  width: calc(100% - 70px);
  padding: 10px;
  //makes only the left side rounder so i can make my searchfield and button appear to be one rounded bar
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.searchForm button {
  width: 70px;
  height: 40px;
  padding: 5px 10px;
  background-color: rgb(249, 41, 41);
  cursor: pointer;
  //makes only the right side rounder so i can make my searchfield and button appear to be one rounded bar
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.search-icon {
  height: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.small-breeds,
.large-breeds {
  display: flex;
  flex-direction: row; //makes elements appear side by side in its container
}
.small-breeds ul,
.large-breeds ul {
  display: flex;
  flex-direction: row;
  list-style: none; //removes the bullets(dots)
}
.card {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 2px; //sets my border width
  border-color: rgb(249, 41, 41); //sets my border color
  border-style: solid; //makes it actually appear
  border-radius: 40px;
  background-color: white;
}
.dog-image {
  margin: 20px;
  width: 300px;
  height: 450px;
  border-radius: 40px;
}
h1 {
  text-align: center;
  font-family: Script MT, Brush Script Std, cursive; //sets the font type(writing)
  font-size: 100px;
}
h2 {
  text-align: center;
  font-family: Script MT, Brush Script Std, cursive;
}
.big-text {
  font-size: 60px;
  text-decoration: underline;
  margin: 10px;
}
.contact-input {
  width: calc(24% - 10px);
  margin-right: 6px;
  margin-left: 6px;
}
p {
  color: black;
  display: flex;
  justify-content: center; //this is for horizontal
  align-items: center; //this is for vertical
}
.gender {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-button {
  background-color: rgb(249, 41, 41);
  width: 150px;
  height: 30px;
  border-radius: 20px;
}
.submit-button:hover {
  background-color: palevioletred; //changes background color when hovered over
}
.contact-input {
  display: none; //hides it for now(see js)
}
.hide-show {
  cursor: pointer;
}
.existing-comments {
  display: flex;
  flex-direction: column;
}
p.contact-input {
  width: 1000px;
}
